body {
    background-color: purple;
    justify-items: center;
    display: flex;
    justify-content: center;
}

.wrapper {
    max-width: 75vw;
}

.landing,
table {
    width: 75vw;
    background-color: aliceblue;
}

tbody {
    text-align: center;
}

.form {
    display: flex;
    justify-content: center;
    justify-items: center;
    margin: 15px;
    gap: 5px;
}

.form>* {
    flex: none;
}